@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height:100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,74,74,1) 35%, rgba(30,51,55,1) 100%);
}